<p>login</p>
<form [formGroup]="login" (submit)="submit()" (submit)="newuser()">
    <span>email</span>
    <input type="text" name="email" formControlName="email" />
    <span>first_name</span>
    <input type="text" name="first_name" formControlName="first_name" />
    <span>last_name</span>
    <input type="text" name="last_name" formControlName="last_name" />
    <span>name</span>
    <input type="text" name="name" formControlName="name" />
    <span>job</span>
    <input type="text" name="job" formControlName="job" />
    <button type="submit">submit</button>
    
</form>

<form [formGroup]="login1" (submit)="newuser()">
    
    <span>name</span>
    <input type="text" name="name" formControlName="name" />
    <span>job</span>
    <input type="text" name="job" formControlName="job" />    
    <button type="submit">Add New user</button>
</form>


<div>
    {{login.value.email}} <br />
    {{login.value.first_name}} <br />
    {{login.value.last_name}} <br />
    <ul>
        <li *ngFor="let item of city">
            {{item.name}} - {{item.postalcode}}
        </li>
    </ul>

    <table border="1">
        <tr *ngFor="let item of city">
            <td>{{item.name}}</td>
            <td>{{item.postalcode}}</td>
        </tr>
    </table>
    <hr/>
    <table border="1">
        <tr *ngFor="let item of film">
            <td>{{item.id}}</td>
            <td>{{item.email}}</td>
            <td>{{item.first_name}}</td>
            <td>{{item.last_name}}</td>
        </tr>
    </table>
    <table border="1">
        <tr *ngFor="let item  lstposts">
            <td>{{item.name}}</td>
            <td>{{item.job}}</td>
            
        </tr>
    </table>

</div>